@font-face {
    font-family: Cowboys;
    src: url(Carnevalee-Freakshow.ttf);
}

* {
    margin: 0;
    border: 0;
    color: black;
    font-family:'Courier New', Courier, monospace;
    
}

p {
    margin:20px;
}

.story {
    width: 70%;
    height: 60vh;
    margin-right: 15%;
    margin-left: 15%;
    background: #BC6C25;
    font-size: 14pt;
    color: black;
    display:inline-flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}

body {
    padding:2rem;
    background-color: #DDA15E;
}


h1 {
    font-family:Cowboys;
    font-size: 125px;
    color: #283618;
    text-align: center;
}

.interactives {
    background-color: #606C38;
    width: 70%;
    height: 10vh;
    margin-right: 15%;
    margin-left: 15%;
    align-self: center;
}